.concrete {
    background-color: #26d840;
    box-shadow: 0px 0px 40px 20px #26d840;
}

.concrete-floor {
    position: absolute;
    z-index: 200;
    width: 3 * $mapLength;
    height: $floor;
    bottom: 0px;
}