.concrete {
    background-color: $concreteColor;
}

.grass {
    background-color: darkgreen;
    z-index: 100;
    width: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: $floor;
}

.concrete-floor {
    position: absolute;
    z-index: 10;
    width: 3 * $mapLength;
    height: $floor;
    bottom: 0px;
    border-top: black solid 2px;
}