.sun-container {
  position: fixed;
  width: 950px;
  margin: auto;
  aspect-ratio: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  bottom: -450px;
  left: 300px;
  z-index: -1;
}

.animation-sun {
  -webkit-animation: move-sun 60s ease-in-out 0s alternate;
          animation: move-sun 60s ease-in-out 0s alternate;
}

.sun {
  background: radial-gradient(ellipse at center, #f90 0%, #fc0 60%, #ff0 100%);
  position: absolute;
  top: 40px;
  right: 40px;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

@-webkit-keyframes move-sun {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  100% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
}

@keyframes move-sun {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  100% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 30px #ff0, 0 0 100px #ff0;
            box-shadow: 0 0 30px #ff0, 0 0 100px #ff0;
  }
  to {
    -webkit-box-shadow: 0 0 15px #ff0, 0 0 75px #ff0;
            box-shadow: 0 0 15px #ff0, 0 0 75px #ff0;
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 30px #ff0, 0 0 100px #ff0;
            box-shadow: 0 0 30px #ff0, 0 0 100px #ff0;
  }
  to {
    -webkit-box-shadow: 0 0 15px #ff0, 0 0 75px #ff0;
            box-shadow: 0 0 15px #ff0, 0 0 75px #ff0;
  }
}

.acid {
  background-color: #26d840;
  -webkit-box-shadow: 0px 0px 200px 80px #26d840;
          box-shadow: 0px 0px 200px 80px #26d840;
}

.acid-floor {
  position: absolute;
  z-index: 200;
  width: 30000px;
  height: 50px;
  bottom: 0px;
}

.glow {
  background-color: #26d840;
  -webkit-box-shadow: 0px 0px 15px 10px #26d840;
          box-shadow: 0px 0px 15px 10px #26d840;
}

.man {
  --left: 30;
  --bottom: 120;
  position: absolute;
  bottom: calc(var(--bottom)*1px);
  height: 40px;
  width: 40px;
  left: calc(var(--left)*1px);
  z-index: 100;
}

.flip {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.hidden {
  display: none;
}

.center {
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: white;
  text-align: center;
  font-size: 4rem;
}

.centerGo {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

.skyscraper {
  position: absolute;
  bottom: 20px;
  width: 120px;
  height: 200px;
  padding: 10px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: linear-gradient(170deg, #436c90, #233647);
  border-radius: 6px;
  -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  border: black solid 1px;
}

.platform {
  position: absolute;
  height: 25px;
  width: 120px;
  z-index: 10;
  background: black;
  border: black solid 1px;
}

.platform:after {
  content: "";
  background: black;
  height: 140px;
  position: absolute;
  width: 2px;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.platform:before {
  content: "";
  background: black;
  height: 140px;
  position: absolute;
  width: 2px;
  z-index: -1;
  bottom: 0;
}

.small {
  height: 250px;
}

.normal {
  height: 300px;
}

.tall {
  height: 450px;
}

.starter {
  background: #fc7e00;
  left: 20px;
  bottom: 100px;
  position: absolute;
}

.starter:before, .starter:after {
  height: 554px;
}

.one {
  left: 300px;
}

.two {
  left: 600px;
}

.three {
  left: 900px;
  bottom: 400px;
  position: absolute;
}

.three:before, .three:after {
  height: 320px;
}

.four {
  left: 1100px;
}

.five {
  left: 1200px;
}

.six {
  left: 1450px;
}

.seven {
  left: 1700px;
  bottom: 200px;
  position: absolute;
}

.seven:before, .seven:after {
  height: 520px;
}

.eight {
  left: 1950px;
  bottom: 350px;
  position: absolute;
}

.eight:before, .eight:after {
  height: 370px;
}

.nine {
  left: 2200px;
}

.ten {
  left: 2400px;
  bottom: 550px;
  position: absolute;
}

.ten:before, .ten:after {
  height: 170px;
}

.one-1 {
  left: 2900px;
  width: 300px;
}

.one-2 {
  width: 250px;
  left: 3400px;
  bottom: 150px;
  position: absolute;
}

.one-2:before, .one-2:after {
  height: 570px;
}

.one-3 {
  left: 3950px;
}

.one-4 {
  left: 4150px;
}

.one-5 {
  left: 4600px;
}

.one-6 {
  left: 4800px;
  bottom: 200px;
  position: absolute;
}

.one-6:before, .one-6:after {
  height: 520px;
}

.one-7 {
  left: 5150px;
  bottom: 300px;
  position: absolute;
}

.one-7:before, .one-7:after {
  height: 420px;
}

.one-8 {
  width: 350px;
  left: 4870px;
  bottom: 500px;
  position: absolute;
}

.one-8:before, .one-8:after {
  height: 220px;
}

.one-9 {
  left: 5800px;
}

.twenty {
  left: 5900px;
  width: 200px;
}

.two-1 {
  left: 6450px;
  bottom: 100px;
  position: absolute;
}

.two-1:before, .two-1:after {
  height: 620px;
}

.two-2 {
  left: 6600px;
  bottom: 400px;
  position: absolute;
}

.two-2:before, .two-2:after {
  height: 320px;
}

.two-3 {
  left: 6800px;
}

.two-4 {
  left: 6900px;
  bottom: 550px;
  position: absolute;
}

.two-4:before, .two-4:after {
  height: 170px;
}

.two-5 {
  left: 7300px;
  width: 300px;
  bottom: 575px;
  position: absolute;
}

.two-5:before, .two-5:after {
  height: 145px;
}

.two-6 {
  left: 6900px;
  bottom: 550px;
  position: absolute;
}

.two-6:before, .two-6:after {
  height: 170px;
}

.two-7 {
  left: 6950px;
}

.two-8 {
  left: 7700px;
}

.two-9 {
  left: 8200px;
  width: 200px;
}

.thirty {
  left: 8600px;
  bottom: 250px;
  position: absolute;
}

.thirty:before, .thirty:after {
  height: 470px;
}

.three-1 {
  left: 8750px;
  bottom: 400px;
  position: absolute;
}

.three-1:before, .three-1:after {
  height: 320px;
}

.three-2 {
  left: 8900px;
  bottom: 550px;
  position: absolute;
}

.three-2:before, .three-2:after {
  height: 170px;
}

.three-3 {
  left: 9300px;
  width: 80px;
}

.final {
  left: 9800px;
  width: 300px;
}

.window {
  height: 29px;
  width: 29px;
  margin: 10px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(80%, #fffc00), to(white));
  background: linear-gradient(to bottom left, #fffc00 80%, white);
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 6px rgba(255, 252, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(255, 252, 0, 0.3);
}

.animation-platform-background {
  -webkit-animation: platform-background 60s linear 0s forwards;
          animation: platform-background 60s linear 0s forwards;
}

@-webkit-keyframes platform-background {
  0% {
    background: black;
  }
  1% {
    background: black;
  }
  4% {
    background: #363601;
  }
  7% {
    background: #5e5e02;
  }
  10% {
    background: #929202;
  }
  14% {
    background-color: #bebe0a;
  }
  17% {
    background: radial-gradient(yellow, #7a7a06);
  }
  92% {
    background: radial-gradient(yellow, #7a7a06);
  }
  93% {
    background: #838303;
  }
  99% {
    background: black;
  }
}

@keyframes platform-background {
  0% {
    background: black;
  }
  1% {
    background: black;
  }
  4% {
    background: #363601;
  }
  7% {
    background: #5e5e02;
  }
  10% {
    background: #929202;
  }
  14% {
    background-color: #bebe0a;
  }
  17% {
    background: radial-gradient(yellow, #7a7a06);
  }
  92% {
    background: radial-gradient(yellow, #7a7a06);
  }
  93% {
    background: #838303;
  }
  99% {
    background: black;
  }
}

#crane {
  height: 610px;
  left: 380px;
  bottom: -327px;
  width: 500px;
  -webkit-transform: scale(2.37);
          transform: scale(2.37);
  position: absolute;
}

#peak {
  height: 0px;
}

#peak #first {
  border: 3px solid #ffa449;
  display: block;
  height: 18px;
  left: 7px;
  position: absolute;
  top: -16px;
  width: 18px;
}

#peak #first::before {
  background: -webkit-gradient(linear, left top, right top, from(#f8b74b), color-stop(50%, #fca546), to(#ff8036));
  background: linear-gradient(to right, #f8b74b 0%, #fca546 50%, #ff8036 100%);
  content: "";
  display: block;
  height: 20px;
  left: 5px;
  position: relative;
  top: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 3px;
  z-index: -1;
}

#peak #first::after {
  background: -webkit-gradient(linear, left top, right top, from(#f8b74b), color-stop(50%, #fca546), to(#ff8036));
  background: linear-gradient(to right, #f8b74b 0%, #fca546 50%, #ff8036 100%);
  content: "";
  display: block;
  height: 20px;
  left: 4px;
  position: relative;
  top: -24px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 3px;
  z-index: -1;
}

#peak #second {
  background-color: #ffa449;
  height: 26px;
  left: 13px;
  position: absolute;
  top: -42px;
  width: 6px;
}

#peak #second::before {
  background-color: #ffa449;
  content: "";
  display: block;
  height: 16px;
  left: -4px;
  position: absolute;
  top: 10px;
  width: 14px;
  border-left: 2px solid #ffbe7c;
  border-right: 2px solid #fc7e00;
  border-style: none solid;
  border-width: medium 2px;
}

#peak #light {
  background-color: red;
  border-radius: 50% 50% 0 0;
  height: 4px;
  left: 14px;
  position: absolute;
  top: -46px;
  width: 4px;
}

#peak span {
  background-color: #666666;
  display: block;
  height: 2px;
  left: 15px;
  position: relative;
  top: -39px;
  width: 2px;
  margin-bottom: 3px;
}

#arm {
  width: 10000px;
}

#arm #connector1 {
  background-color: #ffa449;
  display: block;
  height: 6px;
  left: 35px;
  position: absolute;
  top: -11px;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  width: 10px;
  border-left: 2px solid #fc7e00;
}

#arm #connector2 {
  border-color: transparent transparent #ffa449;
  border-style: solid;
  border-width: 0 0 17px 17px;
  display: block;
  height: 0;
  left: 38px;
  position: absolute;
  top: -24px;
  width: 0;
}

#arm section {
  border: 3px solid #ffa449;
  float: left;
  height: 16px;
  left: 58px;
  margin-left: -3px;
  position: relative;
  top: -23px;
  width: 16px;
}

#arm section::after {
  background: -webkit-gradient(linear, left top, right top, from(#f8b74b), color-stop(50%, #fca546), to(#ff8036));
  background: linear-gradient(to right, #f8b74b 0%, #fca546 50%, #ff8036 100%);
  content: "";
  display: block;
  height: 16px;
  left: 4px;
  position: relative;
  top: -3px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 3px;
  z-index: -1;
}

#arm #nose {
  border-color: transparent #666666 transparent transparent;
  border-style: solid;
  border-width: 0 20px 20px 0;
  display: block;
  height: 0;
  left: 4310px;
  position: absolute;
  top: -25px;
  width: 0;
}

#arm #shine {
  background-color: #ffb163;
  display: block;
  height: 2px;
  left: 54px;
  position: absolute;
  top: -23px;
  width: 199px;
  z-index: 1;
}

#arm #shadow {
  background-color: #fc7e00;
  display: block;
  height: 2px;
  left: 43px;
  position: absolute;
  top: -8px;
  width: 4285px;
  z-index: 1;
}

#tail {
  border-color: #ffa449 transparent #fc7e00;
  -o-border-image: none;
     border-image: none;
  border-style: solid;
  border-width: 3px 0px 2px;
  height: 12px;
  left: -75px;
  position: absolute;
  top: -3px;
  width: 85px;
  z-index: -1;
}

#tail section {
  background: -webkit-gradient(linear, left top, right top, from(#fb7e00), color-stop(33%, #fb7e00), color-stop(33%, #ffa449), to(#ffa449));
  background: linear-gradient(to right, #fb7e00 0%, #fb7e00 33%, #ffa449 33%, #ffa449 100%);
  float: left;
  height: 7px;
  margin-right: 3px;
  width: 6px;
}

#tail #end {
  border-color: transparent #ffa449 transparent transparent;
  border-style: solid;
  border-width: 0 13px 12px 0;
  display: block;
  height: 0;
  left: -13px;
  position: absolute;
  top: -3px;
  width: 0;
}

#tail #end::after {
  border-color: transparent #666666 transparent transparent;
  border-style: solid;
  border-width: 0 7px 6px 0;
  content: "";
  display: block;
  height: 0;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 0;
}

#tail #weight {
  background: #ffa449;
  border-radius: 25%;
  border-top: 2px solid #ffbe7c;
  display: block;
  height: 16px;
  left: -17px;
  position: absolute;
  top: -17px;
  width: 18px;
}

#tail #weight::after {
  background-color: #1e1b35;
  border-radius: 0 0 25% 25%;
  content: "";
  display: block;
  height: 5px;
  position: relative;
  top: 9px;
  width: 18px;
}

#name #tethers:before {
  width: 95px;
  height: 1px;
  background: black;
  left: 197px;
  display: block;
  content: "";
  position: absolute;
  top: 152px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

#name #tethers:after {
  width: 72px;
  height: 1px;
  background: black;
  left: 130px;
  display: block;
  content: "";
  position: absolute;
  top: 150px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

#name #title {
  font-family: "Rokkitt", sans-serif;
  font-size: 2.25em;
  left: 127px;
  position: absolute;
  top: 155px;
  width: 200px;
  display: block;
}

#control-center #body {
  border-top: 2px solid #fb7e00;
  background-color: #ffa449;
  height: 25px;
  left: -10px;
  position: relative;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  width: 50px;
}

#control-center #body b {
  color: #af5800;
  font-family: verdana;
  font-size: 0.75em;
  font-weight: bold;
  opacity: 0.5;
  padding-left: 4px;
}

#control-center #cabin {
  background-color: #ffa449;
  border-left: 2px solid #fc7e00;
  height: 25px;
  left: 25px;
  position: absolute;
  top: -5px;
  width: 17px;
}

#control-center #cabin::before {
  border-bottom: 10px solid #ffa449;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 7px;
  position: relative;
  top: 7.5px;
  -webkit-transform: rotate(90deg) scale(1.01) translateZ(1px);
          transform: rotate(90deg) scale(1.01) translateZ(1px);
  width: 25px;
}

#control-center #cabin #window1 {
  background: black;
  display: block;
  height: 18px;
  left: 5px;
  position: relative;
  top: -6px;
  width: 6px;
}

#control-center #cabin #window2 {
  border-color: transparent transparent transparent black;
  border-style: solid;
  border-width: 9px 0 0 9px;
  display: block;
  height: 0;
  left: 13px;
  position: absolute;
  top: 3px;
  width: 0;
}

#control-center #cabin #window3 {
  border-color: black transparent transparent;
  border-style: solid;
  border-width: 9px 9px 0 0;
  display: block;
  height: 0;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 0;
}

#control-center #cabin #window1,
#control-center #cabin #window2,
#control-center #cabin #window3 {
  opacity: 0.85;
}

#control-center #barrier {
  background-color: #404040;
  display: block;
  height: 2px;
  left: -14px;
  position: absolute;
  top: 19px;
  width: 45px;
}

#control-center #barrier::before {
  background-color: #e27100;
  content: "";
  display: block;
  height: 2px;
  left: -2px;
  position: absolute;
  top: 4px;
  width: 48px;
}

#control-center #barrier::after {
  background-color: #5a5a5a;
  content: "";
  display: block;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -4px;
  width: 45px;
}

#control-center #barrier span {
  background-color: #404040;
  display: inline-block;
  height: 7px;
  left: 0px;
  margin: 0 1.3px;
  position: relative;
  top: -10px;
  width: 2px;
  z-index: 1;
}

#neck {
  height: 20px;
  width: 16px;
  margin: 0 7px;
  display: block;
  background-color: #ffa449;
}

#neck #one {
  border-bottom: 6px solid #ffa449;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  left: 3px;
  position: absolute;
  top: 39px;
  width: 24px;
}

#neck #two {
  border-bottom: 5px solid #1e1b35;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  left: 3px;
  position: absolute;
  top: 38px;
  width: 24px;
}

#neck .shine {
  background-color: #ffbe7c;
  display: block;
  float: left;
  height: 15px;
  left: 7px;
  position: absolute;
  width: 2px;
}

#neck .shadow {
  background-color: #fc7e00;
  display: block;
  float: left;
  height: 15px;
  left: 21px;
  position: absolute;
  width: 2px;
}

#tower section {
  border: 4px solid #ffa449;
  height: 30px;
  margin-bottom: -8px;
  position: relative;
  top: -3px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  width: 30px;
}

#tower section::before {
  background: -webkit-gradient(linear, left top, right top, from(#f8b74b), color-stop(50%, #fca546), to(#ff8036));
  background: linear-gradient(to right, #f8b74b 0%, #fca546 50%, #ff8036 100%);
  content: "";
  display: block;
  height: 38px;
  left: 9px;
  position: relative;
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 4px;
  z-index: -1;
}

#tower section::after {
  background: -webkit-gradient(linear, left top, right top, from(#f8b74b), color-stop(50%, #fca546), to(#ff8036));
  background: linear-gradient(to right, #f8b74b 0%, #fca546 50%, #ff8036 100%);
  content: "";
  display: block;
  height: 38px;
  left: 9px;
  position: relative;
  top: -46px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 4px;
  z-index: -1;
}

#tower section span {
  background-color: #af5800;
  display: block;
  float: left;
  height: 1px;
  left: 4px;
  position: relative;
  top: -38px;
  width: 14px;
}

#tower .shine {
  background-color: #ffbe7c;
  display: block;
  float: left;
  height: 224px;
  left: 3px;
  position: absolute;
  width: 2px;
  z-index: 5;
  top: 43px;
}

#tower .shadow {
  background-color: #fc7e00;
  display: block;
  float: left;
  height: 224px;
  left: 25px;
  position: absolute;
  width: 2px;
  z-index: 5;
  top: 43px;
}

#base {
  border-bottom: 10px solid #1e1b35;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
  left: -2px;
  top: 4px;
  height: 0;
  width: 34px;
}

.contain-flag {
  position: absolute;
  bottom: 250px;
  left: 10000px;
  z-index: 100;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.pole {
  background-color: gray;
  border: 1px solid #636262;
  border-radius: 10px;
  width: 10px;
  height: 300px;
}

.pole:before {
  position: absolute;
  top: -14px;
  left: -5px;
  display: block;
  background-color: gray;
  border-radius: 50%;
  border: 1px solid #636262;
  width: 20px;
  height: 20px;
  content: '';
}

.flag {
  position: absolute;
  top: 8px;
  z-index: 10;
  background-color: #eb573b;
  border: 1px solid #d64b38;
  width: 150px;
  height: 90px;
}

.flag-2 {
  position: absolute;
  top: 40px;
  left: 90px;
  z-index: 1;
  background-color: #eb573b;
  width: 150px;
  height: 90px;
}

.flag-2:after {
  position: absolute;
  left: 100px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid black;
  content: '';
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
}

body {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: 10000px;
  background-color: black;
}

.skyscraper-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 50%;
  bottom: 30px;
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/157557/dacb4faddcee7c677d4735690de52e44.png");
  background-repeat: repeat-x;
}

.score {
  position: fixed;
  font-size: 5vmin;
  right: 20px;
  top: 60px;
  z-index: 1000;
  font-family: 'Press Start 2P', cursive;
  text-shadow: white;
}

.start-game {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  position: fixed;
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: white;
  z-index: 1000;
  text-align: center;
  -webkit-animation: flash 1.5s linear infinite;
          animation: flash 1.5s linear infinite;
}

.animation-sky {
  -webkit-animation: daycycle 60s linear 2s forwards;
          animation: daycycle 60s linear 2s forwards;
}

.intro {
  font-family: 'Press Start 2P', cursive;
  display: none;
  color: white;
  font-size: 20px;
  bottom: 600px;
  left: 250px;
  position: absolute;
  width: 200px;
  height: 20px;
}

.intro-message {
  display: block;
  overflow: hidden;
  border-right: 10px solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  -webkit-animation: typing 15s steps(80, end), blinking 0.5s step-end infinite;
          animation: typing 15s steps(80, end), blinking 0.5s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@-webkit-keyframes flash {
  to {
    color: black;
  }
}

@keyframes flash {
  to {
    color: black;
  }
}

@-webkit-keyframes daycycle {
  0% {
    background-colour: rgba(25, 0, 51, 0.8);
  }
  16% {
    background-color: rgba(175, 70, 10, 0.7);
  }
  40% {
    background-color: rgba(0, 144, 240, 0.8);
  }
  48% {
    background-color: rgba(0, 0, 255, 0.8);
  }
  60% {
    background-color: rgba(0, 0, 140, 0.8);
  }
  75% {
    background-color: rgba(193, 110, 0, 0.8);
  }
  82% {
    background-color: rgba(231, 76, 60, 0.7);
  }
  95% {
    background-color: rgba(25, 0, 51, 0.8);
  }
  100% {
    background-color: black;
  }
}

@keyframes daycycle {
  0% {
    background-colour: rgba(25, 0, 51, 0.8);
  }
  16% {
    background-color: rgba(175, 70, 10, 0.7);
  }
  40% {
    background-color: rgba(0, 144, 240, 0.8);
  }
  48% {
    background-color: rgba(0, 0, 255, 0.8);
  }
  60% {
    background-color: rgba(0, 0, 140, 0.8);
  }
  75% {
    background-color: rgba(193, 110, 0, 0.8);
  }
  82% {
    background-color: rgba(231, 76, 60, 0.7);
  }
  95% {
    background-color: rgba(25, 0, 51, 0.8);
  }
  100% {
    background-color: black;
  }
}
/*# sourceMappingURL=styles.css.map */