@import "./variables";
@import "./sun";
@import "./floor";
@import "./man";
@import "./helpers";
@import "./skyscraper";
@import "./crane";
@import "./flag";
*,
*::after,
*::before {
    box-sizing: border-box;
    user-select: none;
}

html {
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
}

body {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    width: $mapLength;
    background-color: black;
}

.skyscraper-background {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 50%;
    bottom: 30px;
    left: 0;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/157557/dacb4faddcee7c677d4735690de52e44.png");
    background-repeat: repeat-x;
}

.score {
    position: fixed;
    font-size: 5vmin;
    right: 20px;
    top: 60px;
    z-index: 1000;
    font-family: 'Press Start 2P', cursive;
    text-shadow: white;
}

.start-game {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    color: white;
    z-index: 100;
    text-align: center;
    animation: flash 1.5s linear infinite;
}

.center {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -100%);
    color: white;
    text-align: center;
    font-size: 4rem;
}

.animation-sky {
    animation: daycycle $dayTime linear 2s forwards;
}

.intro {
    font-family: 'Press Start 2P', cursive;
    display: none;
    color: white;
    font-size: 20px;
    bottom: 600px;
    left: 250px;
    position: absolute;
    width: 200px;
    height: 20px;
}

.intro-message {
    display: block;
    overflow: hidden;
    border-right: 10px solid orange;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 15s steps(80, end), blinking 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blinking {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@keyframes flash {
    to {
        color: black;
    }
}

@keyframes daycycle {
    0% {
        background-colour: rgba(25, 0, 51, 0.8)
    }
    16% {
        background-color: rgba(175, 70, 10, 0.7);
    }
    40% {
        background-color: rgba(0, 144, 240, 0.8);
    }
    48% {
        background-color: rgba(0, 0, 255, 0.8);
    }
    60% {
        background-color: rgba(0, 0, 140, 0.8);
    }
    75% {
        background-color: rgba(193, 110, 0, 0.8);
    }
    82% {
        background-color: rgba(231, 76, 60, 0.7);
    }
    95% {
        background-color: rgba(25, 0, 51, 0.8);
    }
    100% {
        background-color: rgba(0, 0, 0, 1)
    }
}